# Java
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.settings/
.classpath
.project

# Python
documentation/venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MkDocs
documentation/site/

# Docker
docker/data/

# OS
.DS_Store
Thumbs.db

# Log file
*.log

# Package Files
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# IDE files
.vscode/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Mac
.DS_Store 